<article>
  <p>Comments: </p>
  <p><strong>Manu</strong> 24/05/2019 15:30</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet deserunt quas tempora veniam velit ullam dolorem, perspiciatis totam voluptatem? Quas, eaque velit explicabo incidunt corrupti blanditiis nesciunt veniam mollitia ad!</p>
  <p><strong>Lorena </strong> 19/03/2019 20:30</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet deserunt quas tempora veniam velit ullam dolorem, perspiciatis totam voluptatem? Quas, eaque velit explicabo incidunt corrupti blanditiis nesciunt veniam mollitia ad!</p>
  <p><strong>José</strong> 18/03/2019 09:00</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet deserunt quas tempora veniam velit ullam dolorem, perspiciatis totam voluptatem? Quas, eaque velit explicabo incidunt corrupti blanditiis nesciunt veniam mollitia ad!</p>
</article>

<div>
  <h4>Add your comment</h4>
  <form action="#">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="description">Description:</label>
    <textarea id="description"></textarea>
    <input color='primary' type="submit" placeholder="submit">
  </form>
</div>

