article{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  h3{
    width:42%;
    font-size: 24px;
  }

  img{
    width:797px;
    height: 500px;
  }

  p{
    width:42%;
  }
}
