.container{
  display:flex;
  justify-content: center;
  padding-left: 11%;
  margin-top: 72px;
  align-items: center;
}


.champion{
  width:26%;
  height: 25%;
  img{
    margin-left: -8%;
    width:250px;
    height: 177px;
  }
  p:nth-child(1){
    padding-left: 12%;
  }
}
p:nth-child(2){
  padding-left: 5%;
}

mat-list{
  p{
    padding-left: 40px;
  }
}
